Source: vyatta-util
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: autoconf, automake, autotools-dev, libtool, debhelper (>= 9),
	liburiparser-dev
Standards-Version: 3.9.6

Package: vyatta-util
Architecture: any
Depends:  libvyatta-util1 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Various utilities 
 Utilities used for validation

Package: libvyatta-util1
Architecture: any
Depends: liburiparser1, ${shlibs:Depends}, ${misc:Depends}
Description: Vyatta utilities library
 Vyatta utilities library (libvyatta-util).

Package: libvyatta-util-dev
Architecture: any
Priority: optional
Section: contrib/libdevel
Depends: libvyatta-util1 (=${binary:Version}), ${misc:Depends}
Description: libvyatta-util development package
 Development header and library files for the Vyatta utilities 
 library.

